[mysql]

# 设置mysql客户端默认字符集
default-character-set = utf8mb4

[mysqld]

# 服务器唯一id，默认值1
server-id = 1

explicit_defaults_for_timestamp = true

# 设置mysql数据库的数据的存放目录
datadir = /var/lib/mysql

# 允许最大连接数
max_connections = 200

#指定服务器 默认 字符集
character_set_server = utf8mb4

#默认排序规则
collation-server = utf8mb4_unicode_ci

# 创建新表时将使用的默认存储引擎
default-storage-engine = INNODB

# 跳过密码验证
#skip-grant-tables

# 允许访问 mysql服务 的 IP地址
# 如果允许多个，则：bind-address = ip1  ip2
# 允许所有IP，要么如下 写法，OR 注释掉该 配置项
#bind-address = 0.0.0.0

# 设置日志格式，默认值ROW
binlog_format=STATEMENT

# 数据库事务隔离级别
# 1. READ-UNCOMMITTED(读取未提交内容)
# 2. READ-COMMITTED(读取提交内容)
# 3. REPEATABLE-READ(可重读)   ==> 默认 <==
# 4. SERIERLIZED(可串行化)
transaction_isolation = READ-COMMITTED

innodb_buffer_pool_size=80M

default-time-zone=+8:00

lower_case_table_names = 1
